{% extends 'app/base.html' %}
{% load static %}
{% block title %}Order Success{% endblock title %}

{% block main-content %}
<div class="container text-center mt-5">
    <div class="col-sm-10 offset-sm-1 text-center">
        <h2 style="font-family: Georgia; color: orangered; font-weight: bold; font-size: 30px;"">Thank You!</h2>
        <br>
        <h3 style="font-family: Georgia; color: green; font-weight: bold; font-size: 25px;">Your order has been placed successfully.</h3>
        <hr>
        <div>
            <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200"  frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p>
    </div>
    <a href="\" class="btn btn-primary" style="background-color: orangered; color: white;outline: none;border: none;">
        Continue Shopping
    </a>
</div>
{% endblock main-content %}