{% extends 'app/base.html' %}
{% load static %}
{% block title %} Profile {% endblock title %}

{% block main-content %} 
<div class="container my-5">

    <div class="row" style="margin-top: -10px;">
        <h3 style="font-family: Georgia; color: black; font-weight: bold; font-size: 30px;">Welcome <span class="text-capitalize" style="font-family: Georgia; color: orangered; font-weight: bold; font-size: 30px;">{{request.user.username |capfirst}}</span></h3>
        <br> <br> <br>
        <div class="col-sm-2">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="#" class="btn btn-primary" style="font-size: 15px;background-color: orangered;color: white;font-weight: bold; border: none;outline: none;padding: 4px; width: 160px;">Change Password Done</a></li>
            </ul>
        </div>
        <div class="col-sm-8 offset-sm-1 text-center">
            <h3 style="font-family: Georgia; color: orangered; font-weight: bold; font-size: 30px;">Password Changed Successfully !!!</h3>
            <div>
                <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200"  frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p>
        </div>
    </div>
</div>
{% endblock main-content %}