{% extends 'app/base.html' %}
{% load static %}
{% block title %} Profile {% endblock title %}

{% block main-content %} 
<div class="container my-5">

    <div class="row" style="margin-top: -10px;">
        <h3 style="font-family: Georgia; color: black; font-weight: bold; font-size: 30px;">Welcome <span class="text-capitalize" style="font-family: Georgia; color: orangered; font-weight: bold; font-size: 30px;">{{request.user}}</span></h3>
        <br> <br> <br>
        <div class="col-sm-2">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary" style="font-size: 16px;background-color: orangered;color: white;font-weight: bold; border: none;outline: none;padding: 4px; width: 160px;">Profile</a></li>
                <br>
                <li class="d-grid"><a href="{% url 'address' %}" class="btn"style="font-size: 16px;background-color: orangered;color: white;font-weight: bold;outline: none;padding: 4px; width: 160px;" >Address</a></li>
            </ul>
        </div>

        <div class="col-sm-8 offset-sm-1">

            <form action="" method="post" style="font-size: 15px;color: black;font-weight: bold;">
            {% csrf_token %}
            {% for fm in form %}
                    {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors| striptags}}</small>
                    <br>
            {% endfor %}

            <div class="col-12 mt-3">
                    <button type="submit" class="btn btn-primary" style="background-color: orangered;outline: none;padding: 5px; font-size: 14px; width: 90px; font-weight: bold; border: none;">Submit</button>
            </div>
    
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="alert alert-danger my3">{{error}}</p>
                    {% endfor %}
                {% endif %}

                {% if messages %}
                    {% for msg in messages %}
                        <div class="alert alert-{{msg.tags}}" role="alert" style="color: orangered; font-size: 16px;">
                            {{msg}}
                        </div>
                    {% endfor %}
                {% endif %}
            </form>
        </div>   
    </div>   
</div>

{% endblock main-content %}