{% extends 'app/base.html' %}
{% load static %}
{% block title %} Wishlist {% endblock title %}


{% block main-content %}
    
<div class="container" style="margin-top: 35px;">
    <h2 style="font-family: Georgia; color: orangered; font-weight: bold;">My Wishlist</h2>

    <table class="table mt-3">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>View</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for item in  wishlist_items %}
            <tr>
                <td>{{ item.product.title }}</td>
                <td>{{ item.product.selling_price }}</td>
                <td><a href="{% url 'product_detail' item.product.pk %}" style="color:black;">View Product</a></td>
                <td><a href="{% url 'remove_from_wishlist' item.product.pk %}" class="btn btn-danger" style="background-color: black;color: white;">Remove</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">Your wishlist is empty.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock main-content %}
